<!-- <p id="notice"><%= notice %></p> -->
<div class="wrapper">
  <h3>Any sufficiently advanced technology is indistinguishable from magic</h3>
  <h5 id="author">-Arthur C. Clarke</h5>

  <a href="#">
    <span class="glyphicon glyphicon-plus"></span>
  </a>
  <%= link_to 'New Blog', new_article_path %>
  <p><br><p>
  <div class="container-fluid">
    <div>
      <%= render @articles %>
    </div>
  </div>

  <!-- <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Body</th>
        <th>Create date</th>
        <th>Tag</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @articles.each do |article| %>
        <tr>
          <td><%= article.title %></td>
          <td><%= article.body %></td>
          <td><%= article.create_date %></td>
          <td><%= article.tag %></td>
          <td><%= link_to 'Show', article %></td>
          <td><%= link_to 'Edit', edit_article_path(article) %></td>
          <td><%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table> -->

  <br>


</div>
