<!-- <p id="notice"><%= notice %></p> -->
<div class="wrapper" id="show">
  <div id="article-image">
    <img src= <%= @article.img_url %> class="img-responsive">
  </div>
  <h1>
    <strong><%= @article.title %></strong>
  </h1>
  <br>
  <h5>
    <strong>From <%= @article.author %></strong>
  </h5>
  <br>
  <h5>
    <strong>Created at <%= @article.create_date %></strong>
  </h5>
  <br>
  <p>
    <strong><%= @article.body %></strong>
  </p>
  <br>
  <%= link_to 'Back', articles_path %>
  <%= render 'new_comment' %>
  <%= render 'comments' %>
</div>
